obj
bin
builds
_ReSharper.*
*.DotSettings.user
*.csproj.user
*.resharper.user
*.ReSharper.user
*.resharper
*.suo
*.cache
*~
*.swp
*.userprefs
test-results
*.pidb
/Build
/packages
/cdnlink/packages
/webhooks/CdnHookToFtp/packages/
NDependOut
Credentials.config
coverage.xml
coverage.xml.bkp
*.nupkg
