<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <httpErrors existingResponse="PassThrough" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="ENVIRONMENT_FIRST" value="true" />
    <add key="CDN_FTP_HOST" value="ftp://ftp.example.com" />
    <add key="CDN_FTP_USER" value="exampleuser" />
    <add key="CDN_FTP_PASS" value="examplepass" />
    <add key="CDN_FTP_PORT" value="21" />
    <add key="CDN_SFTP_PORT" value="22" />
  </appSettings>
</configuration>
