<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CdnLink.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="CdnLink.Settings.CDNLINK_CONNECTIONSTRING" connectionString="Data Source=localhost;Initial Catalog=CdnLink;uid=thedbusername;pwd=thedbpassword"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <CdnLink.Settings>
      <setting name="CDNLINK_FTP_ROOT" serializeAs="String">
        <value>IN</value>
      </setting>
      <setting name="CDNLINK_API_URL" serializeAs="String">
        <value>https://localhost/cdn/openapi</value>
      </setting>
      <setting name="CDNLINK_API_KEY" serializeAs="String">
        <value>fb04420a-49d0-4585-af57-1d390bfa1123</value>
      </setting>
      <setting name="CDNLINK_FTP_HOST" serializeAs="String">
        <value>ftp://ftp.example.com</value>
      </setting>
      <setting name="CDNLINK_FTP_USER" serializeAs="String">
        <value>theftpuser</value>
      </setting>
      <setting name="CDNLINK_FTP_PASS" serializeAs="String">
        <value>theftppass</value>
      </setting>
      <setting name="ENVIRONMENT_FIRST" serializeAs="String">
        <value>False</value>
      </setting>
    </CdnLink.Settings>
  </applicationSettings>
  <log4net debug="false">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log\log.txt" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="5MB" />
      <rollingStyle value="Size" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="FATAL" />
      </filter>
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level - %message%newline" />
      </layout>
    </appender>
    <appender name="OutputDebugStringAppender" type="log4net.Appender.OutputDebugStringAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="OutputDebugStringAppender" />
    </root>
  </log4net>
</configuration>